<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Response</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--  <a class="navbar-brand" href="#">Response</a>-->
<!--    <form class="form-inline mt-2 mt-md-0">-->
<!--        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">-->
<!--        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
<!--    </form>-->
<!--</nav>-->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Daruma-Jurnal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
      </ul>
      <form method="GET" class="form-inline mt-2 mt-md-0">
        <input class="form-control mr-sm-2" name="q" type="text" placeholder="Search" value="{{ request.GET.q }}" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
<div class="container">
  <table class="table table-responsive">
  <thead>
    <tr>
      <th scope="col">Job ID</th>
      <th scope="col">Order No.</th>
      <th scope="col">Status</th>
<!--      <th scope="col">Response</th>-->
      <th scope="col">Created at</th>
        {% if response.sales_order %}
        <th scope="col">Sales Order</th>
        {% else %}
        <th scope="col">Purchase Order</th>
        {% endif %}
      <th scope="col">Delivery</th>
    </tr>
  </thead>
  <tbody>
    {% for job, response in jobs %}
    <tr>
      <th scope="row">{{ job.job_id }}</th>
      {% if response.sales_order %}
        <td>{{ response.sales_order.order_no }}</td>
      {% else %}
        <td>{{ response.purchase_order.order_no }}</td>
      {% endif %}
      <td>{{ job.status }}</td>
<!--      <td>-->
<!--          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal{{ job.job_id }}">-->
<!--              response detail-->
<!--          </button>-->
<!--      </td>-->
      <!-- Modal -->
        <div class="modal fade" id="modal{{ job.job_id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Response Detail Job {{ job.job_id }}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {% if response.sales_order %}
                            <ul class="list-group">
                              <li class="list-group-item active">Sales Order</li>
                              <li class="list-group-item">{{response.sales_order.message }}</li>
                            </ul>
                        {% else %}
                            <ul class="list-group">
                                <li class="list-group-item active">Purchase Order</li>
                                <li class="list-group-item">{{response.purchase_order.message }}</li>
                            </ul>
                        {% endif %}
                        <br>
                        <ul class="list-group">
                          <li class="list-group-item active">Delivery Order</li>
                            {% if response.delivery_order.message %}
                             <li class="list-group-item">{{response.delivery_order.message }}</li>
                            {% else %}
                             <li class="list-group-item">{{response.delivery_order }}</li>
                            {% endif %}
                        </ul>
                        <br>
<!--                        <ul class="list-group">-->
<!--                          <li class="list-group-item active">Invoice Order</li>-->
<!--                            {% if response.invoice_order.message %}-->
<!--                             <li class="list-group-item">{{response.invoice_order.message }}</li>-->
<!--                            {% else %}-->
<!--                             <li class="list-group-item">{{response.invoice_order }}</li>-->
<!--                            {% endif %}-->
<!--                        </ul>-->
<!--                        <br>-->
<!--                        <ul class="list-group">-->
<!--                          <li class="list-group-item active">Payment Order</li>-->
<!--                            {% if response.payment_order.message %}-->
<!--                             <li class="list-group-item">{{response.payment_order.message }}</li>-->
<!--                            {% else %}-->
<!--                             <li class="list-group-item">{{response.payment_order }}</li>-->
<!--                            {% endif %}-->
<!--                        </ul>-->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

      <td>{{ job.created_at }}</td>
        {% if response.sales_order %}
        <td>{{response.sales_order.message }}</td>
        {% else %}
        <td>{{response.purchase_order.message }}</td>
        {% endif %}
        {% if response.delivery_order.message %}
        <td>{{response.delivery_order.message }}</td>
        {% else %}
        <td>{{response.delivery_order }}</td>
        {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>

    <div class="pagination">
        <span class="step-links">
            {% if job_paginate.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ contacts.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ job_paginate.number }} of {{ job_paginate.paginator.num_pages }}.
            </span>

            {% if job_paginate.has_next %}
                <a href="?page={{ job_paginate.next_page_number }}">next</a>
                <a href="?page={{ job_paginate.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>